<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>791487236136-oasudu602cd26mvu643dqm9tvi49thf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791487236136-oasudu602cd26mvu643dqm9tvi49thf1</string>
	<key>API_KEY</key>
	<string>AIzaSyDZoHNWAAEf-oSoDgbPsKAn7Qsfal9DFoo</string>
	<key>GCM_SENDER_ID</key>
	<string>791487236136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nicholasionata.Converge</string>
	<key>PROJECT_ID</key>
	<string>converge-2124f</string>
	<key>STORAGE_BUCKET</key>
	<string>converge-2124f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:791487236136:ios:527cd3a6fefc20e7</string>
	<key>DATABASE_URL</key>
	<string>https://converge-2124f.firebaseio.com</string>
</dict>
</plist>